################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
*.vsidx
/LB1_Starovoytov/LB1_Starovoytov/bin/Debug
